.brand-nav {
    background-color: $primary;
    .brand-list {
        li {
            list-style: none;
        }
    }
    .brand-item {
        display: block;
        padding: 14px;
        color: #FFF;
        font-size: 20px;
        &:hover {
            color: $secondary-l;
        }
    }
}

.login {
    padding-top: 80px;
    padding-bottom: 80px;
    @include breakpoint(pad){
        padding-top: 40px;
    }
    .login-pic {
        background: url('../img/login-2x.png') no-repeat;
        background-size: cover;
        width: 100%;
        padding-top: 66%;
    }
}

.login-form {
    .title{
        font-size: 32px;
        font-weight: bold;
    }
    label {
        width: 100%;
        font-size: 16px;
        margin-bottom: 4px;
    }
    input {
        width: 100%;
        padding: 10px 0 10px 12px;
        border: 1px solid $secondary-l;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    .login-forgotpassword{
        font-size: 16px;
        font-weight: 500;
    }
    .btn-group a{
        display: block;
        font-size: 16px;
        padding: 8px 17px;
        border-radius: 4px;
        margin-left: 8px;
        transition: all .5s;
    }
    .login-register{
        color: $primary;
        border: 1px solid $primary;
        &:hover{
            color: white;
            background: $primary-l;
        }
    }
    .login-submit{
        color: #FFF;
        border: 1px solid $primary;
        background-color: $primary;
        &:hover{
            background-color: $primary-d;
        }
    }
}