.footer {
    background-color: $primary;
    padding: 20px 0;
    .logo {
        background: url('../img/logo-footer-2x.png') no-repeat;
        background-size: contain;
        background-position: center;
        display: block;
        width: 130px;
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 20px;
    }
    p{
        display: inline-block;
        color: #FFF;
        font-size: 14px;
        font-weight: 600;
    }

    .function-group ul li{
        list-style: none;
        a {
            display: block;
            padding: 8px 18px;
            font-size: 20px;
            color: #FFF;
            transition: all .5s;
            &:hover{
                color: $secondary-l;
            }
        }
    }
}