/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  color: #3F5D45;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 585px) and (max-width: 767px) {
  .container {
    max-width: 80%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.header .button-toggle {
  display: none;
}

@media (max-width: 584px) {
  .header .button-toggle {
    display: block;
    width: 20%;
  }
}

@media (min-width: 585px) and (max-width: 767px) {
  .header .button-toggle {
    display: block;
    width: 20%;
  }
}

@media (max-width: 584px) {
  .header .button-toggle a {
    display: block;
    width: 45px;
    height: 45px;
    margin: 0 auto;
  }
}

@media (min-width: 585px) and (max-width: 767px) {
  .header .button-toggle a {
    display: block;
    width: 45px;
    height: 45px;
    margin: 0 auto;
  }
}

@media (max-width: 584px) {
  .header .button-toggle a img {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0 auto;
  }
}

@media (min-width: 585px) and (max-width: 767px) {
  .header .button-toggle a img {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.header .shopcar {
  display: none;
}

@media (max-width: 584px) {
  .header .shopcar {
    display: block;
    width: 20%;
  }
}

@media (min-width: 585px) and (max-width: 767px) {
  .header .shopcar {
    display: block;
    width: 20%;
  }
}

@media (max-width: 584px) {
  .header .shopcar a {
    display: block;
    width: 45px;
    height: 45px;
    margin: 0 auto;
  }
}

@media (min-width: 585px) and (max-width: 767px) {
  .header .shopcar a {
    display: block;
    width: 45px;
    height: 45px;
    margin: 0 auto;
  }
}

@media (max-width: 584px) {
  .header .shopcar a img {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (min-width: 585px) and (max-width: 767px) {
  .header .shopcar a img {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 584px) {
  .header h1 {
    width: 60%;
  }
}

.header h1 .logo {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg") no-repeat;
  background-size: auto;
  width: 220px;
  height: 40px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 584px) {
  .header h1 .logo {
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg") no-repeat;
    width: 175px;
    height: 30px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (min-width: 585px) and (max-width: 767px) {
  .header h1 .logo {
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg") no-repeat;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 584px) {
  .header .menu {
    display: none;
  }
}

@media (min-width: 585px) and (max-width: 767px) {
  .header .menu {
    display: none;
  }
}

.header .menu a {
  font-size: 16px;
  line-height: 22px;
  padding: 0 30px;
  font-weight: 600;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.header .menu a:hover {
  color: #77b182;
  background: #EAF0ED;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.banner img {
  margin-bottom: 60px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 584px) {
  .banner img {
    margin-bottom: 0;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 584px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main .sidemenu {
  width: 33%;
  text-align: center;
}

@media (min-width: 585px) and (max-width: 767px) {
  .main .sidemenu {
    width: 45%;
    margin-right: 5%;
  }
}

@media (max-width: 584px) {
  .main .sidemenu {
    width: 100%;
    margin-bottom: 60px;
  }
}

.main .sidemenu .sidemenu_title {
  background: #3F5D45;
  padding: 16px 0;
  color: #EAF0ED;
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
}

.main .sidemenu li {
  border: 1px solid #EAF0ED;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main .sidemenu li:hover {
  background: #EAF0ED;
}

.main .sidemenu li a {
  display: block;
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
  padding: 16px 0;
}

@media (min-width: 585px) and (max-width: 767px) {
  .main .sidemenu li a {
    font-size: 16px;
    line-height: 30px;
  }
}

.main .product {
  width: 66%;
}

@media (max-width: 584px) {
  .main .product {
    width: 100%;
  }
}

.main .product .product_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 585px) and (max-width: 767px) {
  .main .product .product_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 584px) {
  .main .product .product_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main .product .product_list .product_list_item {
  position: relative;
  width: 48%;
  margin: 0 1%;
  text-align: center;
}

@media (min-width: 585px) and (max-width: 767px) {
  .main .product .product_list .product_list_item {
    width: 100%;
  }
}

@media (max-width: 584px) {
  .main .product .product_list .product_list_item {
    width: 80%;
    margin: 0 10%;
  }
}

.main .product .product_list .product_list_item img {
  width: 100%;
}

.main .product .product_list .product_list_item .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
}

.main .product .product_list .product_list_item .intro h3 {
  width: 50%;
  border: 1px solid #EAF0ED;
  font-weight: 300;
  padding: 14px 0;
}

.main .product .product_list .product_list_item .intro p {
  width: 50%;
  border: 1px solid #EAF0ED;
  font-weight: 600;
  padding: 14px 0;
}

.main .product .product_list .product_list_item .addCart {
  display: block;
  padding: 16px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  background: #EAF0ED;
  margin-bottom: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main .product .product_list .product_list_item .addCart:hover {
  color: #EAF0ED;
  background: #3F5D45;
}

.main .product .product_list .product_list_item .fav {
  position: absolute;
  right: 22px;
  top: 19px;
}

.main .product .product_list .product_list_item .star {
  position: absolute;
  left: 20px;
  top: 0;
  padding: 10px;
  background: #3F5D45;
  color: #EAF0ED;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: 3px;
}

.main .product .pagelist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 60px;
}

@media (max-width: 584px) {
  .main .product .pagelist {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main .product .pagelist img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main .product .pagelist li {
  width: 60px;
  text-align: center;
}

.main .product .pagelist .marks a {
  display: block;
  padding: 17px 18px;
  -webkit-transition: all .5s;
  transition: all .5s;
  border: 1px solid transparent;
}

.main .product .pagelist .marks a:hover {
  border: 1px solid #3F5D45;
}

.main .product .pagelist .number a {
  display: block;
  padding: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main .product .pagelist .number a:hover {
  color: #EAF0ED;
  background: #3F5D45;
}

.contact-fluid {
  background: #3F5D45;
}

.contact-fluid .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contact-fluid .contact {
    width: 80%;
  }
}

@media (min-width: 585px) and (max-width: 767px) {
  .contact-fluid .contact {
    width: 80%;
  }
}

@media (max-width: 584px) {
  .contact-fluid .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-fluid .contact .subTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48%;
}

@media (max-width: 584px) {
  .contact-fluid .contact .subTitle {
    width: 80%;
    padding: 0 0 30px;
  }
}

.contact-fluid .contact .subTitle img {
  max-width: 40px;
  height: auto;
  margin-right: 20px;
}

.contact-fluid .contact .subTitle h3 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  color: #EAF0ED;
}

.contact-fluid .contact .subForm {
  position: relative;
  width: 48%;
}

@media (max-width: 584px) {
  .contact-fluid .contact .subForm {
    width: 80%;
  }
}

.contact-fluid .contact .subForm .txt {
  width: 75%;
  background-color: #EAF0ED;
  border: 0;
  padding: 16px 16px 16px 64px;
}

.contact-fluid .contact .subForm .mailbtn {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 20px;
}

.contact-fluid .contact .subForm .send {
  display: block;
  width: 64px;
  background-color: #FFE180;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_forward-24px.png?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 75%;
}

.footer {
  background-color: #EAF0ED;
}

.footer .info {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer .info {
    width: 80%;
  }
}

@media (min-width: 585px) and (max-width: 767px) {
  .footer .info {
    width: 80%;
  }
}

.footer .info .infoContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.footer .info .infoContent .logoAndContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 220px;
}

@media (max-width: 584px) {
  .footer .info .infoContent .logoAndContact {
    width: 100%;
    height: auto;
  }
}

.footer .info .infoContent .logoAndContact img {
  max-width: 170px;
  height: auto;
}

@media (max-width: 584px) {
  .footer .info .infoContent .logoAndContact img {
    margin-bottom: 30px;
  }
}

.footer .info .infoContent .logoAndContact .Contactinfo {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.footer .info .infoContent .marketingContent .vert {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  color: #3F5D45;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  letter-spacing: 2px;
}

@media (max-width: 584px) {
  .footer .info .infoContent .marketingContent .vert {
    display: none;
  }
}

.footer .info .infoElse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

@media (max-width: 584px) {
  .footer .info .infoElse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 584px) {
  .footer .info .infoElse .socailmediaBtn {
    margin-bottom: 20px;
  }
}

.footer .info .infoElse .socailmediaBtn ul {
  display: table;
}

.footer .info .infoElse .socailmediaBtn ul li {
  float: left;
  margin-right: 8px;
}

.footer .info .infoElse .socailmediaBtn ul li img {
  width: 32px;
}
/*# sourceMappingURL=w4.css.map */